organizations:
- name: organizations/${organization_id}
  iamPolicy:
    bindings:
    - role: roles/resourcemanager.organizationAdmin
      members:
      - ${devops_sa}
    - role: roles/orgpolicy.policyAdmin
      members:
      - ${devops_sa}
    - role: roles/serviceusage.serviceUsageAdmin
      members:
      - ${devops_sa}
    - role: roles/iam.serviceAccountAdmin
      members:
      - ${devops_sa}
    - role: roles/cloudkms.admin
      members:
      - ${devops_sa}
    - role: roles/artifactregistry.admin
      members:
      - ${devops_sa}
    - role: roles/storage.admin
      members:
      - ${devops_sa}
    - role: roles/iam.workloadIdentityPoolAdmin
      members:
      - ${devops_sa}

folders: []
projects: []